@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Lato:wght@300;700&family=Montserrat:wght@400;500;800&family=Nerko+One&family=Open+Sans:wght@500&family=Playfair+Display:wght@500&family=Poppins:wght@200;300;500&display=swap");

:root {
  --primary-color: #005dff;
  --secondary-color: #262626;
  --input-bg-color: #fcfcfc;
  --input-border-color: #d9d9d9;
  --lighter-grey: #d9d9d9;
  --sidebar-bg-grey: #f7f7f7;
  --sidebar-menu-clr: #1f1f1f;
  --menu-bg-hover: #ebebeb;
  --section-bg: #ebebeb;
  --modal-text-color: #010101;
  --img-bg-color: #f0f0f0;
  --price-switch-bg: #f0f0f0;
  --slide5-dark-color: #3d3d3d;
  --slide5-bg-color: #f5f5f5;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--secondary-color);
}

body,
body * {
  font-family: "Montserrat" !important;
  font-size: 16px;
}

h1.main-h,
h1.main-h span {
  font-size: 40px;
  font-weight: 800;
}

h2.sub-h {
  font-size: 32px;
  font-weight: 500;
}

.input-control {
  border: 1px solid var(--input-border-color);
  height: 44px;
}

.input-control,
.input-control input {
  border-radius: 4px;
}

input:focus-visible {
  outline: 0px;
}

.primary-text {
  color: var(--primary-color);
}

.primary-border {
  border: 1px solid var(--primary-color);
}

.lighter-grey {
  color: var(--lighter-grey);
}

.primary-btn {
  border-radius: 4px;
  padding: 12px 16px;
  background: var(--primary-color);
}

.cursor {
  cursor: pointer;
}

label {
  font-size: 16px;
  font-weight: 500;
}

::placeholder {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.mb-28 {
  margin-bottom: 28px;
}

.fw-medium {
  font-weight: 500;
}

.circle-4 {
  border-radius: 4px;
}

.mt-74 {
  margin-top: 74px;
}

/* Sign In & Sign Up */
.show-hide-pwd {
  top: 10px;
  right: 10px;
}

.bordered-span {
  width: 43%;
  display: inline-block;
  height: 1px;
  border: 1px solid;
}

form .form-check .form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid var(--lighter-grey);
}

/* Home css */
.new-presentation {
  background-color: var(--section-bg);
}
.new-presentation .white-card {
  width: 350px;
  height: 212px;
}
/* form */
.required-field {
  font-size: 20px;
}
.error-info {
  font-size: 14px;
}

/* logoutModal */
.logout-modal .modal-body {
  color: var(--modal-text-color);
  font-weight: 500;
  padding: 40px 33px 20px 33px;
}
.logout-modal #exampleModal {
  background-color: red !important;
}

/* forget password  */
.forget-password .sub-h {
  font-weight: 600;
  font-size: 32px;
  color: #000;
  margin-top: 44px;
}
.forget-password .peragraph {
  font-size: 14px;
}
.forget-password label {
  font-weight: 500;
}
.forget-password button a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.forget-password button {
  margin-top: 40px;
}

/* Modal common classes */
.modal .modal-content {
  border-radius: 4px;
  border: 0;
}

.modal-header .btn-close {
  background-image: url(/static/img/modal-close.svg);
  opacity: 1;
  background-size: 100%;
  padding: 0;
  height: 24px;
  width: 24px;
}

.modal .modal-title {
  font-weight: 500;
  color: var(--modal-text-color);
  font-size: 18px;
}

@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 540px;
  }
}

/* Profile css */
.profile-img-bg {
  background-color: var(--img-bg-color);
  width: 30%;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--menu-bg-hover);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lighter-grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
